body {
    font-family: 'oblivionregular';
    background-color: $dark;
    color: $accent;
}

.font-secondary {
    font-family: 'magic_cardsnormal';
}

a {
    color: inherit;
    text-decoration: inherit;
}

.section {
    min-height: calc(100svh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
}
