@font-face {
    font-family: 'TrajanusBricks';
    src: url('./fonts/trajanusbricks-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'magic_cardsnormal';
    src: url('./fonts/magiccardsnormal-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oblivionregular';
    src: url('./fonts/oblivion-font-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --rounded: 0.5em;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.q-field__bottom--animated {
    transform: translateY(0%);
    position: static;
    padding-bottom: 1rem;
}
.q-field--with-bottom {
    padding-bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    font-family: 'oblivionregular';
    background: linear-gradient(
            oklch(from var(--q-dark-page) l c h / 0.23),
            oklch(from var(--q-dark-page) l c h / 0.23)
        ),
        url('/src/assets/common/bg.avif');
    color: var(--q-primary);
    background-color: #040405;
}

.font-secondary {
    font-family: 'magic_cardsnormal';
}

.font-extra {
    font-family: 'TrajanusBricks';
}

.font-quote {
    font-family: '';
}

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

input[type='number'] {
    appearance: textfield;
}
