/* Transitions */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 150ms ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
/* Divider */
/* ------------------------------- */
.separator {
    margin-inline: auto;
    content: '';
    width: 100%;
    height: 1px;
    top: 0;
    background-color: #1e1e1e;
    position: relative;
    display: block;
    z-index: 100;
}

.separator::before {
    content: '';
    position: absolute;
    top: 0.375rem;
    width: 100%;
    height: 1px;
    background-color: #1e1e1e;
}
.separator::after {
    content: '';
    position: absolute;
}
/* Text glow */
/* ------------------------------- */
.text-glow-dark {
    text-shadow: 0.1875rem 0.3125rem 0.3125rem rgba(21, 21, 21, 0.5);
}
/* Vault form */
/* ------------------------------- */
.auth-form,
.vault-form {
    box-shadow:
        inset 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(37, 19, 10, 0.5);
    height: 100%;
    border-radius: var(--rounded);
    position: relative;
}
.auth-form::before,
.vault-form::before {
    position: absolute;
    inset: 0;
    inset-inline: 0;
    content: '';
    border-radius: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: var(--rounded);
}
.auth-form::after,
.vault-form::after {
    position: absolute;
    inset: 0;
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    opacity: 30%;
    border-radius: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    background-image: url('/src/assets/common/bg-jungle.avif');
    filter: grayscale(30%);
    background-size: cover;
    border-radius: var(--rounded);
}
.auth-form__inner,
.vault-form__inner {
    position: relative;
    z-index: 1;
}
.auth-form__title,
.vault-form__title {
    text-shadow: rgba(0, 0, 0, 0.3) 3px 3px 6px;
}
