/* Transitions */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 150ms ease-in-out;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.list-move,
.list-enter-active,
.list-leave-active {
    transition:
        transform 400ms ease-in-out,
        opacity 400ms ease-in-out;
}
.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}
.list-leave-active {
    opacity: 0;
    position: absolute;
}

/* .pagination-enter-from,
.pagination-leave-to {
    opacity: 0;
} */
.pagination-enter-active,
.pagination-leave-active {
    transition: opacity 300ms ease-in-out;
}
.pagination-leave-active {
    display: none;
    position: absolute;
}

/* Divider */
/* ------------------------------- */
.separator {
    margin-inline: auto;
    content: '';
    width: 100%;
    height: 1px;
    top: 0;
    background-color: #1e1e1e;
    position: relative;
    display: block;
    z-index: 100;
}

.separator::before {
    content: '';
    position: absolute;
    top: 0.375rem;
    width: 100%;
    height: 1px;
    background-color: #1e1e1e;
}
.separator::after {
    content: '';
    position: absolute;
}
/* Text glow */
/* ------------------------------- */
.text-glow-dark {
    text-shadow: 0.1875rem 0.3125rem 0.3125rem rgba(21, 21, 21, 0.5);
}
/* Vault form */
/* ------------------------------- */
.vault-form {
    width: 100%;
    height: 100%;
    border-radius: var(--rounded);
    position: relative;
    background-color: var(--q-dark);
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.vault-form::before {
    position: absolute;
    inset: 0;
    inset-inline: 0;
    content: '';
    border-radius: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: var(--rounded);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: -2;
    background-color: rgb(8, 8, 8);
}
.vault-form__inner {
    position: relative;
}
.vault-form__title {
    text-shadow: rgba(0, 0, 0, 0.3) 3px 3px 6px;
}
