@font-face {
    font-family: 'magic_cardsnormal';
    src: url('./fonts/magiccardsnormal-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oblivionregular';
    src: url('./fonts/oblivion-font-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
