// Quasar colors
$primary: #e5e0c8;
$secondary: #bd9b4e;
$accent: #ffffff;
$dark: #140f0e;
$positive: #79a227;
$negative: #9b151f;
$info: #878582;
$warning: #ff5733;

// Custom colors
$dark-page: #100d0c;
$gold-frame: #2a241c;
$bg-modal: #1f1d1a;
$medium: #16161b;
$negative-dimmed: #5c0903;
$placeholder-primary: #000000;
$placeholder-secondary: #1a1917;
$secondary-dimmed: #927636;

// Breakpoints
$breakpoint-xs: 599px !default;
$breakpoint-sm: 768px !default;
$breakpoint-md: 1111px !default;
$breakpoint-lg: 1439px !default;
$breakpoint-xl: 1919px !default;

// Other
$rounded: 0.5em;
