:root {
    --q-primary: #e5e0c8;
    --q-secondary: #bd9b4e;

    /* --q-primary: #e5e0c8;
    --q-secondary: #8d0e04; */

    --q-accent: #ffffff;
    --q-dark: #140f0e;
    --q-dark-page: #100d0c;
    --q-positive: #51732b;
    --q-negative: #8d0e04;
    --q-info: #878582;
    --q-warning: #ff5733;
}
